---
import { ViewTransitions } from 'astro:transitions';

import HeaderComponent from '@/components/layouts/header.component';
import '@/styles/globals.css'
interface Props {
	title: string;
	marginOnTop?: boolean;
}

const { title, marginOnTop } = Astro.props;

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />

		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<!-- <link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Meie+Script&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"> -->

		<meta name="generator" content={Astro.generator} />
		<ViewTransitions/>
		<title>{title}</title>
	</head>
	<body class=" w-full min-h-dvh bg-default-100">
		<HeaderComponent client:load/>
		<div class={`flex flex-col w-full min-h-[82dvh] ${marginOnTop ? "pt-4" : ""}`} transition:animate="fade">
			<slot />
		</div>
		<footer class=" flex w-full p-8 mt-8 bg-white text-xs text-primary justify-center">
			<p>Juan Sebastian Sepulveda - © 2024</p>
		</footer>
	</body>
</html>

<style>
	body {
        background-color: #ECECEC;
	}

	/* styles.css */
	.full-height {
	height: calc(var(--vh, 1vh) * 100);
	}

</style>